html.dark .sbdocs-wrapper,
html.dark .sbdocs-preview {
  background-color: #000000;
  color: #fff;
}

html.dark .sbdocs-preview {
  border: 1px solid #292929;
}

html.dark {
  background: #161616;
  color: #fff;
}

html.dark .sbdocs-title,
html.dark .sbdocs-subtitle,
html.dark .sbdocs-subtitle ~ p,
html.dark #stories,
html.dark .sb-anchor > h1,
html.dark .sb-anchor > h2,
html.dark .sb-anchor > h3,
html.dark .sb-anchor > h4 {
  color: #fff;
}

html.dark .docblock-argstable-head {
  background: #161616;
}

html.dark .docblock-argstable-head th {
  color: #bcbcbc;
  border-bottom: 1px solid #292929 !important;
}

html.dark .docblock-argstable-head th span,
html.dark tbody.docblock-argstable-body * {
  color: #bcbcbc;
}

html.dark div.sb-bar,
html.dark tbody.docblock-argstable-body td,
html.dark tbody.docblock-argstable-body tr > td:first-child span,
html.dark tbody.docblock-argstable-body tr > td:last-child span,
html.dark tbody.docblock-argstable-body label,
html.dark tbody.docblock-argstable-body input,
html.dark tbody.docblock-argstable-body select,
html.dark tbody.docblock-argstable-body textarea {
  background-color: #161616;
}

html.dark tbody.docblock-argstable-body span,
html.dark tbody.docblock-argstable-body button {
  background-color: #1e1d21;
}

/* targets description of defaultValue detail e. g. in Button.stories */
html.dark div.sbdocs-expandable {
  background-color: unset;
}

/* targets tooltip of description of defaultValue detail e. g. in Button.stories */
html.dark div[data-testid='tooltip'] {
  background-color: rgba(188, 188, 188, 0.95);
  filter: drop-shadow(rgba(255, 255, 255, 0.05) 0px 5px 5px) drop-shadow(rgba(255, 255, 255, 0.1) 0px 1px 3px);
}

/* targets label of 'Set boolean' toggles */
html.dark td > label:has(> input[type='checkbox']) {
  background-color: rgba(89, 89, 95, 0.3);
}

/* targets input of 'Set boolean' toggles */
html.dark label input[role='switch'] {
  background-color: transparent;
}

/* targets 'True / False'-spans in 'Set boolean' toggles - base styles */
html.dark label span[aria-hidden='true'] {
  color: rgba(188, 188, 188, 0.5);
  background-color: transparent;
}

/* targets unselected 'True / False'-span in 'Set boolean' toggles */
html.dark label input[type='checkbox']:not(:checked) ~ span:first-of-type,
html.dark label input[type='checkbox']:checked ~ span:last-of-type {
  background-color: #161616;
  color: rgb(188, 188, 188);
}

/* targets selected 'True / False'-span in 'Set boolean' toggles */
html.dark label input[type='checkbox']:checked ~ span:first-of-type,
html.dark label input[type='checkbox']:not(:checked) ~ span:last-of-type {
  background-color: transparent;
  color: rgba(188, 188, 188, 0.5);
}

html.dark #docs-root tbody td {
  background: #161616 !important;
  color: #bcbcbc !important;
}

html.dark #docs-root tbody tr:first-child td:first-child {
  border-top-left-radius: 0 !important;
}

html.dark #docs-root tbody tr:first-child td:last-child {
  border-top-right-radius: 0 !important;
}

html.dark #docs-root tbody tr:not(:first-child) {
  border-top: 1px solid #292929 !important;
}
