name: Publish sui-core

on:
  workflow_dispatch:

jobs:
  publish-gpr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.3
          registry-url: https://npm.pkg.github.com/
          scope: '@hrworks'

      - run: bun install --cwd packages/sui-core
      - run: bun run --cwd packages/sui-core build
      - run: bun publish --cwd packages/sui-core
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
