:root {
  --sqw-tier2-typography-heading-lg-font-weight: var(--sqw-tier1-typography-font-weight-regular);
  --sqw-tier2-typography-heading-lg-font-size: var(--sqw-tier1-typography-font-size-22);
  --sqw-tier2-typography-heading-lg-font-family: var(--sqw-tier1-typography-font-family-inter);
  --sqw-tier2-typography-heading-lg-line-height: 1.273;
  --sqw-tier2-typography-body-sm-line-height: 1.333;
  --sqw-tier2-typography-body-sm-font-family: var(--sqw-tier1-typography-font-family-inter);
  --sqw-tier2-typography-body-sm-font-weight: var(--sqw-tier1-typography-font-weight-regular);
  --sqw-tier2-typography-body-sm-font-size: var(--sqw-tier1-typography-font-size-12);
  --sqw-tier2-typography-body-md-line-height: 1.429;
  --sqw-tier2-typography-body-md-font-size: var(--sqw-tier1-typography-font-size-14);
  --sqw-tier2-typography-body-md-font-weight: var(--sqw-tier1-typography-font-weight-regular);
  --sqw-tier2-typography-body-md-font-family: var(--sqw-tier1-typography-font-family-inter);
  --sqw-tier2-typography-label-sm-semibold-font-weight: var(--sqw-tier1-typography-font-weight-semibold);
  --sqw-tier2-typography-label-sm-semibold-line-height: 1.333;
  --sqw-tier2-typography-label-sm-semibold-font-family: var(--sqw-tier1-typography-font-family-inter);
  --sqw-tier2-typography-label-sm-semibold-font-size: var(--sqw-tier1-typography-font-size-12);
  --sqw-tier2-typography-label-md-semibold-font-family: var(--sqw-tier1-typography-font-family-inter);
  --sqw-tier2-typography-label-md-semibold-font-weight: var(--sqw-tier1-typography-font-weight-semibold);
  --sqw-tier2-typography-label-md-semibold-font-size: var(--sqw-tier1-typography-font-size-14);
  --sqw-tier2-typography-label-md-semibold-line-height: 1.429;
  --sqw-tier2-typography-title-font-size: var(--sqw-tier1-typography-font-size-30);
  --sqw-tier2-typography-title-line-height: 1.333;
  --sqw-tier2-typography-title-font-weight: var(--sqw-tier1-typography-font-weight-medium);
  --sqw-tier2-typography-title-font-family: var(--sqw-tier1-typography-font-family-inter);
  --sqw-tier2-typography-label-md-line-height: 1.429;
  --sqw-tier2-typography-label-md-font-weight: var(--sqw-tier1-typography-font-weight-medium);
  --sqw-tier2-typography-label-md-font-family: var(--sqw-tier1-typography-font-family-inter);
  --sqw-tier2-typography-label-md-font-size: var(--sqw-tier1-typography-font-size-14);
  --sqw-tier2-typography-heading-md-semibold-line-height: 1.5;
  --sqw-tier2-typography-heading-md-semibold-font-family: var(--sqw-tier1-typography-font-family-inter);
  --sqw-tier2-typography-heading-md-semibold-font-weight: var(--sqw-tier1-typography-font-weight-semibold);
  --sqw-tier2-typography-heading-md-semibold-font-size: var(--sqw-tier1-typography-font-size-16);
  --sqw-tier2-typography-heading-md-font-family: var(--sqw-tier1-typography-font-family-inter);
  --sqw-tier2-typography-heading-md-font-size: var(--sqw-tier1-typography-font-size-16);
  --sqw-tier2-typography-heading-md-font-weight: var(--sqw-tier1-typography-font-weight-medium);
  --sqw-tier2-typography-heading-md-line-height: 1.5;
  --sqw-tier2-typography-nav-header-font-family: var(--sqw-tier1-typography-font-family-inter);
  --sqw-tier2-typography-nav-header-font-weight: var(--sqw-tier1-typography-font-weight-medium);
  --sqw-tier2-typography-nav-header-font-size: var(--sqw-tier1-typography-font-size-12);
  --sqw-tier2-typography-nav-header-line-height: 1.333;
  --sqw-tier2-typography-link-font-family: var(--sqw-tier1-typography-font-family-inter);
  --sqw-tier2-typography-link-font-weight: var(--sqw-tier1-typography-font-weight-regular);
  --sqw-tier2-typography-link-font-size: var(--sqw-tier1-typography-font-size-14);
  --sqw-tier2-typography-link-line-height: 1.429;
  --sqw-tier2-typography-display-font-family: var(--sqw-tier1-typography-font-family-inter);
  --sqw-tier2-typography-display-font-weight: var(--sqw-tier1-typography-font-weight-medium);
  --sqw-tier2-typography-display-font-size: var(--sqw-tier1-typography-font-size-44);
  --sqw-tier2-typography-display-line-height: 1.227;
  --sqw-tier1-color-focus-blue-10: #3890e9;
  --sqw-tier1-color-focus-blue-20: #0071e3;
  --sqw-tier1-color-info-blue-10: #dfe1ff;
  --sqw-tier1-color-info-blue-20: #c1c5f8;
  --sqw-tier1-color-info-blue-30: #5e64af;
  --sqw-tier1-color-info-blue-40: #292673;
  --sqw-tier1-color-info-blue-50: #20195a;
  --sqw-tier1-color-seaweed-10: #d3e5d3;
  --sqw-tier1-color-seaweed-20: #7fb483;
  --sqw-tier1-color-seaweed-30: #198337;
  --sqw-tier1-color-seaweed-40: #005a11;
  --sqw-tier1-color-seaweed-50: #003300;
  --sqw-tier1-color-mango-10: #ffe1ba;
  --sqw-tier1-color-mango-20: #ffc476;
  --sqw-tier1-color-mango-30: #ffa829;
  --sqw-tier1-color-mango-40: #b06700;
  --sqw-tier1-color-mango-50: #692b00;
  --sqw-tier1-color-chili-10: #ffceca;
  --sqw-tier1-color-chili-20: #f8877e;
  --sqw-tier1-color-chili-30: #d92020;
  --sqw-tier1-color-chili-40: #a70000;
  --sqw-tier1-color-chili-50: #701010;
  --sqw-tier1-color-transparency-0: #ffffff00;
  --sqw-tier1-color-transparency-baltic-sea-70-30: #59595f4d;
  --sqw-tier1-color-transparency-baltic-sea-80-50: #3d3c4280;
  --sqw-tier1-color-transparency-baltic-sea-100-50: #1e1d2180;
  --sqw-tier1-color-indigo-10: #eff0ff;
  --sqw-tier1-color-indigo-20: #dfe1ff;
  --sqw-tier1-color-indigo-30: #c1c5f8;
  --sqw-tier1-color-indigo-40: #9ba1e1;
  --sqw-tier1-color-indigo-50: #7c82c8;
  --sqw-tier1-color-indigo-60: #5e64af;
  --sqw-tier1-color-indigo-70: #424798;
  --sqw-tier1-color-indigo-80: #292673;
  --sqw-tier1-color-indigo-90: #20195a;
  --sqw-tier1-color-indigo-100: #160e3f;
  --sqw-tier1-color-baltic-sea-10: #f5f6f8;
  --sqw-tier1-color-baltic-sea-20: #ecedf2;
  --sqw-tier1-color-baltic-sea-30: #cfd0d5;
  --sqw-tier1-color-baltic-sea-40: #acadb2;
  --sqw-tier1-color-baltic-sea-50: #8b8c91;
  --sqw-tier1-color-baltic-sea-60: #717278;
  --sqw-tier1-color-baltic-sea-70: #59595f;
  --sqw-tier1-color-baltic-sea-80: #3d3c42;
  --sqw-tier1-color-baltic-sea-90: #2c2b31;
  --sqw-tier1-color-baltic-sea-100: #1e1d21;
  --sqw-tier1-color-black: #000000;
  --sqw-tier1-color-white: #ffffff;
  --sqw-tier1-typography-font-size-12: 0.75rem;
  --sqw-tier1-typography-font-size-14: 0.875rem;
  --sqw-tier1-typography-font-size-16: 1rem;
  --sqw-tier1-typography-font-size-22: 1.375rem;
  --sqw-tier1-typography-font-size-30: 1.875rem;
  --sqw-tier1-typography-font-size-44: 2.75rem;
  --sqw-tier1-typography-font-weight-semibold: 600;
  --sqw-tier1-typography-font-weight-regular: 400;
  --sqw-tier1-typography-font-weight-medium: 500;
  --sqw-tier1-typography-line-height-16: 1;
  --sqw-tier1-typography-line-height-20: 1.25;
  --sqw-tier1-typography-line-height-24: 1.5;
  --sqw-tier1-typography-line-height-28: 1.75;
  --sqw-tier1-typography-line-height-40: 2.5;
  --sqw-tier1-typography-line-height-54: 3.375;
  --sqw-tier1-typography-font-family-inter: Inter;
  --sqw-tier2-color-background-nav-default: var(--sqw-tier1-color-indigo-10);
  --sqw-tier2-color-background-nav-selected: var(--sqw-tier1-color-indigo-30);
  --sqw-tier2-color-background-nav-hovered: var(--sqw-tier1-color-indigo-20);
  --sqw-tier2-color-background-error-bold-pressed: var(--sqw-tier1-color-chili-50);
  --sqw-tier2-color-background-error-bold-default: var(--sqw-tier1-color-chili-30);
  --sqw-tier2-color-background-error-bold-hovered: var(--sqw-tier1-color-chili-40);
  --sqw-tier2-color-background-error-subtle: var(--sqw-tier1-color-chili-10);
  --sqw-tier2-color-background-input: var(--sqw-tier1-color-white);
  --sqw-tier2-color-background-neutral-subtlest-default: var(--sqw-tier1-color-transparency-0);
  --sqw-tier2-color-background-neutral-subtlest-hovered: var(--sqw-tier1-color-indigo-10);
  --sqw-tier2-color-background-neutral-subtlest-selected: var(--sqw-tier1-color-indigo-20);
  --sqw-tier2-color-background-neutral-subtle-hovered: var(--sqw-tier1-color-baltic-sea-30);
  --sqw-tier2-color-background-neutral-subtle-default: var(--sqw-tier1-color-baltic-sea-20);
  --sqw-tier2-color-background-neutral-subtle-selected: var(--sqw-tier1-color-baltic-sea-40);
  --sqw-tier2-color-background-neutral-bold: var(--sqw-tier1-color-baltic-sea-60);
  --sqw-tier2-color-background-success-bold-default: var(--sqw-tier1-color-seaweed-30);
  --sqw-tier2-color-background-success-bold-hovered: var(--sqw-tier1-color-seaweed-40);
  --sqw-tier2-color-background-success-bold-pressed: var(--sqw-tier1-color-seaweed-50);
  --sqw-tier2-color-background-success-subtle: var(--sqw-tier1-color-seaweed-10);
  --sqw-tier2-color-background-disabled-default: var(--sqw-tier1-color-baltic-sea-20);
  --sqw-tier2-color-background-disabled-subtle: var(--sqw-tier1-color-baltic-sea-10);
  --sqw-tier2-color-background-brand-bold-default: var(--sqw-tier1-color-indigo-70);
  --sqw-tier2-color-background-brand-bold-hovered: var(--sqw-tier1-color-indigo-80);
  --sqw-tier2-color-background-brand-bold-pressed: var(--sqw-tier1-color-indigo-90);
  --sqw-tier2-color-background-brand-subtle-default: var(--sqw-tier1-color-transparency-0);
  --sqw-tier2-color-background-brand-subtle-pressed: var(--sqw-tier1-color-indigo-30);
  --sqw-tier2-color-background-brand-subtle-hovered: var(--sqw-tier1-color-indigo-20);
  --sqw-tier2-color-background-info-bold-default: var(--sqw-tier1-color-info-blue-30);
  --sqw-tier2-color-background-info-bold-hovered: var(--sqw-tier1-color-info-blue-40);
  --sqw-tier2-color-background-info-bold-pressed: var(--sqw-tier1-color-info-blue-50);
  --sqw-tier2-color-background-info-subtle: var(--sqw-tier1-color-info-blue-10);
  --sqw-tier2-color-background-warning-subtle: var(--sqw-tier1-color-mango-10);
  --sqw-tier2-color-background-warning-bold-default: var(--sqw-tier1-color-mango-30);
  --sqw-tier2-color-background-warning-bold-hovered: var(--sqw-tier1-color-mango-40);
  --sqw-tier2-color-background-warning-bold-pressed: var(--sqw-tier1-color-mango-50);
  --sqw-tier2-color-text-brand-default: var(--sqw-tier1-color-indigo-70);
  --sqw-tier2-color-text-brand-visited: var(--sqw-tier1-color-indigo-60);
  --sqw-tier2-color-text-brand-hovered: var(--sqw-tier1-color-indigo-80);
  --sqw-tier2-color-text-brand-pressed: var(--sqw-tier1-color-indigo-90);
  --sqw-tier2-color-text-selected: var(--sqw-tier1-color-indigo-70);
  --sqw-tier2-color-text-inverse: var(--sqw-tier1-color-white);
  --sqw-tier2-color-text-warning-inverse: var(--sqw-tier1-color-baltic-sea-100);
  --sqw-tier2-color-text-info-on-subtle: var(--sqw-tier1-color-info-blue-50);
  --sqw-tier2-color-text-info-default: var(--sqw-tier1-color-info-blue-30);
  --sqw-tier2-color-text-subtle: var(--sqw-tier1-color-baltic-sea-80);
  --sqw-tier2-color-text-disabled: var(--sqw-tier1-color-baltic-sea-40);
  --sqw-tier2-color-text-warning-on-subtle: var(--sqw-tier1-color-mango-50);
  --sqw-tier2-color-text-warning-default: var(--sqw-tier1-color-mango-40);
  --sqw-tier2-color-text-subtlest: var(--sqw-tier1-color-baltic-sea-60);
  --sqw-tier2-color-text-error-on-subtle: var(--sqw-tier1-color-chili-50);
  --sqw-tier2-color-text-error-default: var(--sqw-tier1-color-chili-30);
  --sqw-tier2-color-text-success-default: var(--sqw-tier1-color-seaweed-30);
  --sqw-tier2-color-text-success-on-subtle: var(--sqw-tier1-color-seaweed-50);
  --sqw-tier2-color-text-default: var(--sqw-tier1-color-baltic-sea-90);
  --sqw-tier2-color-surface-sunken: var(--sqw-tier1-color-white);
  --sqw-tier2-color-surface-elevation-shadow: var(--sqw-tier1-color-transparency-baltic-sea-70-30);
  --sqw-tier2-color-surface-elevation-blanket: var(--sqw-tier1-color-transparency-baltic-sea-80-50);
  --sqw-tier2-color-surface-raised: var(--sqw-tier1-color-white);
  --sqw-tier2-color-surface-structure: var(--sqw-tier1-color-baltic-sea-10);
  --sqw-tier2-color-border-brand-hovered: var(--sqw-tier1-color-indigo-70);
  --sqw-tier2-color-border-brand-default: var(--sqw-tier1-color-indigo-60);
  --sqw-tier2-color-border-brand-pressed: var(--sqw-tier1-color-indigo-80);
  --sqw-tier2-color-border-disabled: var(--sqw-tier1-color-baltic-sea-30);
  --sqw-tier2-color-border-warning: var(--sqw-tier1-color-mango-40);
  --sqw-tier2-color-border-bold: var(--sqw-tier1-color-baltic-sea-30);
  --sqw-tier2-color-border-subtle: var(--sqw-tier1-color-baltic-sea-20);
  --sqw-tier2-color-border-input: var(--sqw-tier1-color-baltic-sea-50);
  --sqw-tier2-color-border-error: var(--sqw-tier1-color-chili-30);
  --sqw-tier2-color-border-info: var(--sqw-tier1-color-info-blue-30);
  --sqw-tier2-color-border-focus: var(--sqw-tier1-color-focus-blue-20);
  --sqw-tier2-color-border-selected: var(--sqw-tier1-color-indigo-70);
  --sqw-tier2-color-border-success: var(--sqw-tier1-color-seaweed-30);
  --sqw-tier2-color-border-nav-bold: var(--sqw-tier1-color-indigo-30);
  --sqw-tier2-color-border-nav-subtle: var(--sqw-tier1-color-indigo-20);
  --sqw-tier2-color-skeleton-shimmer: var(--sqw-tier1-color-baltic-sea-20);
  --sqw-tier2-color-skeleton-default: var(--sqw-tier1-color-baltic-sea-10);
  --sqw-tier2-color-icon-default: var(--sqw-tier1-color-baltic-sea-90);
  --sqw-tier2-color-icon-subtle: var(--sqw-tier1-color-baltic-sea-80);
  --sqw-tier2-color-icon-subtlest: var(--sqw-tier1-color-baltic-sea-60);
  --sqw-tier2-color-icon-inverse: var(--sqw-tier1-color-white);
  --sqw-tier2-color-icon-warning-inverse: var(--sqw-tier1-color-baltic-sea-100);
  --sqw-tier2-color-icon-selected: var(--sqw-tier1-color-indigo-70);
  --sqw-tier2-color-icon-brand-default: var(--sqw-tier1-color-indigo-70);
  --sqw-tier2-color-icon-brand-hovered: var(--sqw-tier1-color-indigo-80);
  --sqw-tier2-color-icon-brand-pressed: var(--sqw-tier1-color-indigo-90);
  --sqw-tier2-color-icon-brand-visited: var(--sqw-tier1-color-indigo-60);
  --sqw-tier2-color-icon-disabled: var(--sqw-tier1-color-baltic-sea-40);
  --sqw-tier2-color-icon-error-default: var(--sqw-tier1-color-chili-30);
  --sqw-tier2-color-icon-error-on-subtle: var(--sqw-tier1-color-chili-50);
  --sqw-tier2-color-icon-warning-default: var(--sqw-tier1-color-mango-40);
  --sqw-tier2-color-icon-warning-on-subtle: var(--sqw-tier1-color-mango-50);
  --sqw-tier2-color-icon-success-default: var(--sqw-tier1-color-seaweed-30);
  --sqw-tier2-color-icon-success-on-subtle: var(--sqw-tier1-color-seaweed-50);
  --sqw-tier2-color-icon-info-default: var(--sqw-tier1-color-info-blue-30);
  --sqw-tier2-color-icon-info-on-subtle: var(--sqw-tier1-color-info-blue-50);
}

[data-theme='dark'] {
  color-scheme: dark;
  --sqw-tier2-color-background-nav-default: var(--sqw-tier1-color-baltic-sea-90);
  --sqw-tier2-color-background-nav-selected: var(--sqw-tier1-color-baltic-sea-70);
  --sqw-tier2-color-background-nav-hovered: var(--sqw-tier1-color-baltic-sea-80);
  --sqw-tier2-color-background-error-bold-pressed: var(--sqw-tier1-color-white);
  --sqw-tier2-color-background-error-bold-default: var(--sqw-tier1-color-chili-20);
  --sqw-tier2-color-background-error-bold-hovered: var(--sqw-tier1-color-chili-10);
  --sqw-tier2-color-background-error-subtle: var(--sqw-tier1-color-baltic-sea-80);
  --sqw-tier2-color-background-input: var(--sqw-tier1-color-baltic-sea-100);
  --sqw-tier2-color-background-neutral-subtlest-default: var(--sqw-tier1-color-transparency-0);
  --sqw-tier2-color-background-neutral-subtlest-hovered: var(--sqw-tier1-color-baltic-sea-90);
  --sqw-tier2-color-background-neutral-subtlest-selected: var(--sqw-tier1-color-baltic-sea-80);
  --sqw-tier2-color-background-neutral-subtle-hovered: var(--sqw-tier1-color-baltic-sea-70);
  --sqw-tier2-color-background-neutral-subtle-default: var(--sqw-tier1-color-baltic-sea-80);
  --sqw-tier2-color-background-neutral-subtle-selected: var(--sqw-tier1-color-baltic-sea-60);
  --sqw-tier2-color-background-neutral-bold: var(--sqw-tier1-color-baltic-sea-40);
  --sqw-tier2-color-background-success-bold-default: var(--sqw-tier1-color-seaweed-20);
  --sqw-tier2-color-background-success-bold-hovered: var(--sqw-tier1-color-seaweed-10);
  --sqw-tier2-color-background-success-bold-pressed: var(--sqw-tier1-color-white);
  --sqw-tier2-color-background-success-subtle: var(--sqw-tier1-color-baltic-sea-80);
  --sqw-tier2-color-background-disabled-default: var(--sqw-tier1-color-baltic-sea-70);
  --sqw-tier2-color-background-disabled-subtle: var(--sqw-tier1-color-baltic-sea-80);
  --sqw-tier2-color-background-brand-bold-default: var(--sqw-tier1-color-indigo-40);
  --sqw-tier2-color-background-brand-bold-hovered: var(--sqw-tier1-color-indigo-30);
  --sqw-tier2-color-background-brand-bold-pressed: var(--sqw-tier1-color-indigo-20);
  --sqw-tier2-color-background-brand-subtle-default: var(--sqw-tier1-color-transparency-0);
  --sqw-tier2-color-background-brand-subtle-pressed: var(--sqw-tier1-color-baltic-sea-70);
  --sqw-tier2-color-background-brand-subtle-hovered: var(--sqw-tier1-color-baltic-sea-80);
  --sqw-tier2-color-background-info-bold-default: var(--sqw-tier1-color-info-blue-20);
  --sqw-tier2-color-background-info-bold-hovered: var(--sqw-tier1-color-info-blue-10);
  --sqw-tier2-color-background-info-bold-pressed: var(--sqw-tier1-color-white);
  --sqw-tier2-color-background-info-subtle: var(--sqw-tier1-color-baltic-sea-80);
  --sqw-tier2-color-background-warning-subtle: var(--sqw-tier1-color-baltic-sea-80);
  --sqw-tier2-color-background-warning-bold-default: var(--sqw-tier1-color-mango-20);
  --sqw-tier2-color-background-warning-bold-hovered: var(--sqw-tier1-color-mango-10);
  --sqw-tier2-color-background-warning-bold-pressed: var(--sqw-tier1-color-white);
  --sqw-tier2-color-text-brand-default: var(--sqw-tier1-color-indigo-40);
  --sqw-tier2-color-text-brand-visited: var(--sqw-tier1-color-indigo-50);
  --sqw-tier2-color-text-brand-hovered: var(--sqw-tier1-color-indigo-30);
  --sqw-tier2-color-text-brand-pressed: var(--sqw-tier1-color-indigo-20);
  --sqw-tier2-color-text-selected: var(--sqw-tier1-color-indigo-20);
  --sqw-tier2-color-text-inverse: var(--sqw-tier1-color-baltic-sea-100);
  --sqw-tier2-color-text-warning-inverse: var(--sqw-tier1-color-baltic-sea-100);
  --sqw-tier2-color-text-info-on-subtle: var(--sqw-tier1-color-info-blue-20);
  --sqw-tier2-color-text-info-default: var(--sqw-tier1-color-info-blue-20);
  --sqw-tier2-color-text-subtle: var(--sqw-tier1-color-baltic-sea-30);
  --sqw-tier2-color-text-disabled: var(--sqw-tier1-color-baltic-sea-50);
  --sqw-tier2-color-text-warning-on-subtle: var(--sqw-tier1-color-mango-20);
  --sqw-tier2-color-text-warning-default: var(--sqw-tier1-color-mango-20);
  --sqw-tier2-color-text-subtlest: var(--sqw-tier1-color-baltic-sea-40);
  --sqw-tier2-color-text-error-on-subtle: var(--sqw-tier1-color-chili-20);
  --sqw-tier2-color-text-error-default: var(--sqw-tier1-color-chili-20);
  --sqw-tier2-color-text-success-default: var(--sqw-tier1-color-seaweed-20);
  --sqw-tier2-color-text-success-on-subtle: var(--sqw-tier1-color-seaweed-20);
  --sqw-tier2-color-text-default: var(--sqw-tier1-color-baltic-sea-20);
  --sqw-tier2-color-surface-sunken: var(--sqw-tier1-color-baltic-sea-100);
  --sqw-tier2-color-surface-elevation-shadow: var(--sqw-tier1-color-transparency-baltic-sea-70-30);
  --sqw-tier2-color-surface-elevation-blanket: var(--sqw-tier1-color-transparency-baltic-sea-100-50);
  --sqw-tier2-color-surface-raised: var(--sqw-tier1-color-baltic-sea-90);
  --sqw-tier2-color-surface-structure: var(--sqw-tier1-color-baltic-sea-90);
  --sqw-tier2-color-border-brand-hovered: var(--sqw-tier1-color-indigo-40);
  --sqw-tier2-color-border-brand-default: var(--sqw-tier1-color-indigo-60);
  --sqw-tier2-color-border-brand-pressed: var(--sqw-tier1-color-indigo-30);
  --sqw-tier2-color-border-disabled: var(--sqw-tier1-color-baltic-sea-70);
  --sqw-tier2-color-border-warning: var(--sqw-tier1-color-mango-20);
  --sqw-tier2-color-border-bold: var(--sqw-tier1-color-baltic-sea-70);
  --sqw-tier2-color-border-subtle: var(--sqw-tier1-color-baltic-sea-80);
  --sqw-tier2-color-border-input: var(--sqw-tier1-color-baltic-sea-60);
  --sqw-tier2-color-border-error: var(--sqw-tier1-color-chili-20);
  --sqw-tier2-color-border-info: var(--sqw-tier1-color-info-blue-20);
  --sqw-tier2-color-border-focus: var(--sqw-tier1-color-focus-blue-10);
  --sqw-tier2-color-border-selected: var(--sqw-tier1-color-indigo-40);
  --sqw-tier2-color-border-success: var(--sqw-tier1-color-seaweed-20);
  --sqw-tier2-color-border-nav-bold: var(--sqw-tier1-color-baltic-sea-70);
  --sqw-tier2-color-border-nav-subtle: var(--sqw-tier1-color-baltic-sea-80);
  --sqw-tier2-color-skeleton-shimmer: var(--sqw-tier1-color-baltic-sea-80);
  --sqw-tier2-color-skeleton-default: var(--sqw-tier1-color-baltic-sea-70);
  --sqw-tier2-color-icon-default: var(--sqw-tier1-color-baltic-sea-20);
  --sqw-tier2-color-icon-subtle: var(--sqw-tier1-color-baltic-sea-30);
  --sqw-tier2-color-icon-subtlest: var(--sqw-tier1-color-baltic-sea-40);
  --sqw-tier2-color-icon-inverse: var(--sqw-tier1-color-baltic-sea-100);
  --sqw-tier2-color-icon-warning-inverse: var(--sqw-tier1-color-baltic-sea-100);
  --sqw-tier2-color-icon-selected: var(--sqw-tier1-color-indigo-20);
  --sqw-tier2-color-icon-brand-default: var(--sqw-tier1-color-indigo-40);
  --sqw-tier2-color-icon-brand-hovered: var(--sqw-tier1-color-indigo-30);
  --sqw-tier2-color-icon-brand-pressed: var(--sqw-tier1-color-indigo-20);
  --sqw-tier2-color-icon-brand-visited: var(--sqw-tier1-color-indigo-50);
  --sqw-tier2-color-icon-disabled: var(--sqw-tier1-color-baltic-sea-50);
  --sqw-tier2-color-icon-error-default: var(--sqw-tier1-color-chili-20);
  --sqw-tier2-color-icon-error-on-subtle: var(--sqw-tier1-color-chili-20);
  --sqw-tier2-color-icon-warning-default: var(--sqw-tier1-color-mango-20);
  --sqw-tier2-color-icon-warning-on-subtle: var(--sqw-tier1-color-mango-20);
  --sqw-tier2-color-icon-success-default: var(--sqw-tier1-color-seaweed-20);
  --sqw-tier2-color-icon-success-on-subtle: var(--sqw-tier1-color-seaweed-20);
  --sqw-tier2-color-icon-info-default: var(--sqw-tier1-color-info-blue-20);
  --sqw-tier2-color-icon-info-on-subtle: var(--sqw-tier1-color-info-blue-20);
}

@media (prefers-color-scheme: dark) {
  [data-theme='system'] {
    color-scheme: dark;
    --sqw-tier2-color-background-nav-default: var(--sqw-tier1-color-baltic-sea-90);
    --sqw-tier2-color-background-nav-selected: var(--sqw-tier1-color-baltic-sea-70);
    --sqw-tier2-color-background-nav-hovered: var(--sqw-tier1-color-baltic-sea-80);
    --sqw-tier2-color-background-error-bold-pressed: var(--sqw-tier1-color-white);
    --sqw-tier2-color-background-error-bold-default: var(--sqw-tier1-color-chili-20);
    --sqw-tier2-color-background-error-bold-hovered: var(--sqw-tier1-color-chili-10);
    --sqw-tier2-color-background-error-subtle: var(--sqw-tier1-color-baltic-sea-80);
    --sqw-tier2-color-background-input: var(--sqw-tier1-color-baltic-sea-100);
    --sqw-tier2-color-background-neutral-subtlest-default: var(--sqw-tier1-color-transparency-0);
    --sqw-tier2-color-background-neutral-subtlest-hovered: var(--sqw-tier1-color-baltic-sea-90);
    --sqw-tier2-color-background-neutral-subtlest-selected: var(--sqw-tier1-color-baltic-sea-80);
    --sqw-tier2-color-background-neutral-subtle-hovered: var(--sqw-tier1-color-baltic-sea-70);
    --sqw-tier2-color-background-neutral-subtle-default: var(--sqw-tier1-color-baltic-sea-80);
    --sqw-tier2-color-background-neutral-subtle-selected: var(--sqw-tier1-color-baltic-sea-60);
    --sqw-tier2-color-background-neutral-bold: var(--sqw-tier1-color-baltic-sea-40);
    --sqw-tier2-color-background-success-bold-default: var(--sqw-tier1-color-seaweed-20);
    --sqw-tier2-color-background-success-bold-hovered: var(--sqw-tier1-color-seaweed-10);
    --sqw-tier2-color-background-success-bold-pressed: var(--sqw-tier1-color-white);
    --sqw-tier2-color-background-success-subtle: var(--sqw-tier1-color-baltic-sea-80);
    --sqw-tier2-color-background-disabled-default: var(--sqw-tier1-color-baltic-sea-70);
    --sqw-tier2-color-background-disabled-subtle: var(--sqw-tier1-color-baltic-sea-80);
    --sqw-tier2-color-background-brand-bold-default: var(--sqw-tier1-color-indigo-40);
    --sqw-tier2-color-background-brand-bold-hovered: var(--sqw-tier1-color-indigo-30);
    --sqw-tier2-color-background-brand-bold-pressed: var(--sqw-tier1-color-indigo-20);
    --sqw-tier2-color-background-brand-subtle-default: var(--sqw-tier1-color-transparency-0);
    --sqw-tier2-color-background-brand-subtle-pressed: var(--sqw-tier1-color-baltic-sea-70);
    --sqw-tier2-color-background-brand-subtle-hovered: var(--sqw-tier1-color-baltic-sea-80);
    --sqw-tier2-color-background-info-bold-default: var(--sqw-tier1-color-info-blue-20);
    --sqw-tier2-color-background-info-bold-hovered: var(--sqw-tier1-color-info-blue-10);
    --sqw-tier2-color-background-info-bold-pressed: var(--sqw-tier1-color-white);
    --sqw-tier2-color-background-info-subtle: var(--sqw-tier1-color-baltic-sea-80);
    --sqw-tier2-color-background-warning-subtle: var(--sqw-tier1-color-baltic-sea-80);
    --sqw-tier2-color-background-warning-bold-default: var(--sqw-tier1-color-mango-20);
    --sqw-tier2-color-background-warning-bold-hovered: var(--sqw-tier1-color-mango-10);
    --sqw-tier2-color-background-warning-bold-pressed: var(--sqw-tier1-color-white);
    --sqw-tier2-color-text-brand-default: var(--sqw-tier1-color-indigo-40);
    --sqw-tier2-color-text-brand-visited: var(--sqw-tier1-color-indigo-50);
    --sqw-tier2-color-text-brand-hovered: var(--sqw-tier1-color-indigo-30);
    --sqw-tier2-color-text-brand-pressed: var(--sqw-tier1-color-indigo-20);
    --sqw-tier2-color-text-selected: var(--sqw-tier1-color-indigo-20);
    --sqw-tier2-color-text-inverse: var(--sqw-tier1-color-baltic-sea-100);
    --sqw-tier2-color-text-warning-inverse: var(--sqw-tier1-color-baltic-sea-100);
    --sqw-tier2-color-text-info-on-subtle: var(--sqw-tier1-color-info-blue-20);
    --sqw-tier2-color-text-info-default: var(--sqw-tier1-color-info-blue-20);
    --sqw-tier2-color-text-subtle: var(--sqw-tier1-color-baltic-sea-30);
    --sqw-tier2-color-text-disabled: var(--sqw-tier1-color-baltic-sea-50);
    --sqw-tier2-color-text-warning-on-subtle: var(--sqw-tier1-color-mango-20);
    --sqw-tier2-color-text-warning-default: var(--sqw-tier1-color-mango-20);
    --sqw-tier2-color-text-subtlest: var(--sqw-tier1-color-baltic-sea-40);
    --sqw-tier2-color-text-error-on-subtle: var(--sqw-tier1-color-chili-20);
    --sqw-tier2-color-text-error-default: var(--sqw-tier1-color-chili-20);
    --sqw-tier2-color-text-success-default: var(--sqw-tier1-color-seaweed-20);
    --sqw-tier2-color-text-success-on-subtle: var(--sqw-tier1-color-seaweed-20);
    --sqw-tier2-color-text-default: var(--sqw-tier1-color-baltic-sea-20);
    --sqw-tier2-color-surface-sunken: var(--sqw-tier1-color-baltic-sea-100);
    --sqw-tier2-color-surface-elevation-shadow: var(--sqw-tier1-color-transparency-baltic-sea-70-30);
    --sqw-tier2-color-surface-elevation-blanket: var(--sqw-tier1-color-transparency-baltic-sea-100-50);
    --sqw-tier2-color-surface-raised: var(--sqw-tier1-color-baltic-sea-90);
    --sqw-tier2-color-surface-structure: var(--sqw-tier1-color-baltic-sea-90);
    --sqw-tier2-color-border-brand-hovered: var(--sqw-tier1-color-indigo-40);
    --sqw-tier2-color-border-brand-default: var(--sqw-tier1-color-indigo-60);
    --sqw-tier2-color-border-brand-pressed: var(--sqw-tier1-color-indigo-30);
    --sqw-tier2-color-border-disabled: var(--sqw-tier1-color-baltic-sea-70);
    --sqw-tier2-color-border-warning: var(--sqw-tier1-color-mango-20);
    --sqw-tier2-color-border-bold: var(--sqw-tier1-color-baltic-sea-70);
    --sqw-tier2-color-border-subtle: var(--sqw-tier1-color-baltic-sea-80);
    --sqw-tier2-color-border-input: var(--sqw-tier1-color-baltic-sea-60);
    --sqw-tier2-color-border-error: var(--sqw-tier1-color-chili-20);
    --sqw-tier2-color-border-info: var(--sqw-tier1-color-info-blue-20);
    --sqw-tier2-color-border-focus: var(--sqw-tier1-color-focus-blue-10);
    --sqw-tier2-color-border-selected: var(--sqw-tier1-color-indigo-40);
    --sqw-tier2-color-border-success: var(--sqw-tier1-color-seaweed-20);
    --sqw-tier2-color-border-nav-bold: var(--sqw-tier1-color-baltic-sea-70);
    --sqw-tier2-color-border-nav-subtle: var(--sqw-tier1-color-baltic-sea-80);
    --sqw-tier2-color-skeleton-shimmer: var(--sqw-tier1-color-baltic-sea-80);
    --sqw-tier2-color-skeleton-default: var(--sqw-tier1-color-baltic-sea-70);
    --sqw-tier2-color-icon-default: var(--sqw-tier1-color-baltic-sea-20);
    --sqw-tier2-color-icon-subtle: var(--sqw-tier1-color-baltic-sea-30);
    --sqw-tier2-color-icon-subtlest: var(--sqw-tier1-color-baltic-sea-40);
    --sqw-tier2-color-icon-inverse: var(--sqw-tier1-color-baltic-sea-100);
    --sqw-tier2-color-icon-warning-inverse: var(--sqw-tier1-color-baltic-sea-100);
    --sqw-tier2-color-icon-selected: var(--sqw-tier1-color-indigo-20);
    --sqw-tier2-color-icon-brand-default: var(--sqw-tier1-color-indigo-40);
    --sqw-tier2-color-icon-brand-hovered: var(--sqw-tier1-color-indigo-30);
    --sqw-tier2-color-icon-brand-pressed: var(--sqw-tier1-color-indigo-20);
    --sqw-tier2-color-icon-brand-visited: var(--sqw-tier1-color-indigo-50);
    --sqw-tier2-color-icon-disabled: var(--sqw-tier1-color-baltic-sea-50);
    --sqw-tier2-color-icon-error-default: var(--sqw-tier1-color-chili-20);
    --sqw-tier2-color-icon-error-on-subtle: var(--sqw-tier1-color-chili-20);
    --sqw-tier2-color-icon-warning-default: var(--sqw-tier1-color-mango-20);
    --sqw-tier2-color-icon-warning-on-subtle: var(--sqw-tier1-color-mango-20);
    --sqw-tier2-color-icon-success-default: var(--sqw-tier1-color-seaweed-20);
    --sqw-tier2-color-icon-success-on-subtle: var(--sqw-tier1-color-seaweed-20);
    --sqw-tier2-color-icon-info-default: var(--sqw-tier1-color-info-blue-20);
    --sqw-tier2-color-icon-info-on-subtle: var(--sqw-tier1-color-info-blue-20);
  }
}
